<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(~{this :: title},~{},~{})">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div th:replace="layout :: wrapper(~{:: #content})">
    	<div id="content">
			<div class="error-page">
				<h2 class="headline text-yellow">404</h2>
				<div class="error-content">
					<h3><i class="fa fa-warning text-yellow"></i>Oops! Page not found.</h3>
					<p>
						We could
						<a href="">return databsdes</a>
					</p>
				</div>
			</div>
		</div>
    </div>
</body>
</html>